.titulopricipal{
    font-weight: bold;
}
.parrafo{
    font-size: 1.2em ;
}
footer{
    background-color: gray;
    
}
.parrafofooter{
    color: white;
    text-align: center;
}
.titulo2{
    color: green;
    font-weight: bolder;
}
.subtitulo{
    color: green;
    font-weight: bolder;
}
.parrafo_pagina1{
    font-style: italic;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: green;
    text-align: justify;
}
.titulo3{
    font-weight: bolder;
    color:blue;
}
.parrafo_pagina2{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    text-align: left;
}
.parrafo_pagina{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}
